@model beingabeing.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<h1>How's It Going?</h1>
<div class="entrysection">
    <div class="buttonheader">Mood?</div>
    <button type="button" class="btn" value="Anxious" cat="Mood" data-toggle="modal" data-target="#itemModal">Anxious</button>
    <button type="button" class="btn" value="Fine" cat="Mood" data-toggle="modal" data-target="#itemModal">Fine</button>
    <button type="button" class="btn" value="Fulfilled" cat="Mood" data-toggle="modal" data-target="#itemModal">Fulfilled</button>
    <button type="button" class="btn" value="Happy" cat="Mood" data-toggle="modal" data-target="#itemModal">Happy</button>
    <button type="button" class="btn" value="Lazy" cat="Mood" data-toggle="modal" data-target="#itemModal">Lazy</button>
    <button type="button" class="btn" value="Productive" cat="Mood" data-toggle="modal" data-target="#itemModal">Productive</button>
    <button type="button" class="btn" value="Sad" cat="Mood" data-toggle="modal" data-target="#itemModal">Sad</button>
    <button type="button" class="btn" value="Stressed" cat="Mood" data-toggle="modal" data-target="#itemModal">Stressed</button>
</div>
<div class="entrysection">
    <div class="buttonheader">Apetite?</div>
    <button type="button" class="btn" value="Full" data-toggle="modal" cat="Appetite" data-target="#itemModal">Full/Content</button>
    <button type="button" class="btn" value="Hungry" data-toggle="modal" cat="Appetite" data-target="#itemModal">Hungry</button>
    <button type="button" class="btn" value="Starving" data-toggle="modal" cat="Appetite" data-target="#itemModal">Starving</button>
    <button type="button" class="btn" value="Thristy" data-toggle="modal" cat="Appetite" data-target="#itemModal">Thristy</button>
</div>
<div class="entrysection">
    <div class="buttonheader">Sick?</div>
    <button type="button" class="btn" value="Nauseous" data-toggle="modal" cat="Sick" data-target="#itemModal">Nauseious</button>
    <button type="button" class="btn" value="Gassy" data-toggle="modal" cat="Sick" data-target="#itemModal">Gassy</button>
    <button type="button" class="btn" value="Heartburn" data-toggle="modal" cat="Sick" data-target="#itemModal">Heartburn</button>
    <button type="button" class="btn" value="Headache" data-toggle="modal" cat="Sick" data-target="#itemModal">Headache</button>
    <button type="button" class="btn" value="Pain" data-toggle="modal" cat="Sick" data-target="#itemModal">Pain</button>
    <button type="button" class="btn" value="Tired" data-toggle="modal" cat="Sick" data-target="#itemModal">Tired</button>
</div>
<div class="entrysection">
    <div class="buttonheader">Doing?</div>
    <button type="button" class="btn" value="Eating/Drinking" name="eatingtype" cat="Food" data-toggle="modal" data-target="#itemModal">Eating/Drinking<span style="font-size:10px" id="addcomments">WC</span></button>
    <button type="button" class="btn" value="Exercising" name="Exercising" data-toggle="modal" cat="Exercise" data-target="#itemModal">Exercising</button>
    <button type="button" class="btn" value="Pills" name="Pills" cat="Medicine" data-toggle="modal" data-target="#itemModal">Pills/Medicine</button>
    <button type="button" class="btn" value="Pooping" name="Pooping" cat="Poop" data-toggle="modal" data-target="#itemModal">Pooping</button>
    <button type="button" class="btn" value="Socializing" name="Socializing" cat="Socializing" data-toggle="modal" data-target="#itemModal">Socializing</button>
    <button type="button" class="btn" value="Working" name="Working" cat="Working" data-toggle="modal" data-target="#itemModal">Working</button>
    <button type="button" class="btn" value="Sleeping" name="Sleeping" cat="Sleeping" data-toggle="modal" data-target="#itemModal">Sleep</button>

</div>

<div class="entrysection">
    <div class="buttonheader">My Stats</div>
    <button type="button" class="btn" value="My Physical Attributes" data-toggle="modal" data-target="#statsModal">My Physical Attributes</button>
    <button type="button" class="btn" value="profile" data-toggle="modal" data-target="#profileModal">My Profile</button>
</div>




<!-- Modal for Sleep-->
<div class="modal fade" id="sleepingModal" tabindex="-1" role="dialog" aria-labelledby="sleepingModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title-h1">My Sleep</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="buttonheader">How did you Sleep?</div>
                <div class="entrysection">
                    <div class="buttonheader">Type?</div>
                    <button type="button" class="btn" value="Normal">Normal</button>
                    <button type="button" class="btn" value="Well">Well</button>
                    <button type="button" class="btn" value="Restless">Restless</button>
                    <button type="button" class="btn" value="Interupted">Interupted</button>
                    <button type="button" class="btn" value="Uncomfortable">Uncomfortable</button>
                </div>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Sleep.Type" class="form-control type" />

                    <div class="form-group">
                        <label asp-for="Sleep.Notes" class="control-label"></label>
                        <textarea asp-for="Sleep.Notes" class="form-control"></textarea>
                        <span asp-validation-for="Sleep.Notes" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Sleep.WentDown" class="control-label">When did you go to sleep?</label>
                        <input asp-for="Sleep.WentDown" type="datetime-local" class="form-control datestate" />
                        <span asp-validation-for="Sleep.WentDown" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sleep.WokeUp" class="control-label">When did you wake up?</label>
                        <input asp-for="Sleep.WokeUp" type="datetime-local" class="form-control datestate" />
                        <span asp-validation-for="Sleep.WokeUp" class="text-danger"></span>
                    </div>
                    <input type="submit" formaction="addsleep" formmethod="post" value="Submit" class="btn btn-default" />

                </form>


            </div>

        </div>
    </div>
</div>
<!-- End Modal for Work-->
<!-- Modal for Stats-->
<div class="modal fade" id="statsModal" tabindex="-1" role="dialog" aria-labelledby="statsModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title-h1">My Physical Attributes/Stats</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="formsection">
                        <div class="buttonheader">Height and Weight</div>
                        <div class="row">
                            <div class="col-md-4">
                                <input asp-for="Stats.Weight" type="number" class="form-control" placeholder="Weight" />
                            </div>
                            <div class="col-md-4">
                                <input asp-for="Stats.Height" type="number" class="form-control" placeholder="Height" />
                            </div>
                            <div class="col-md-4">
                                <input asp-for="Stats.BodyFat" type="number" class="form-control" placeholder="Body Fat" />
                            </div>
                        </div>
                    </div>

                    <div class="formsection">
                        <div class="buttonheader">Blood Pressure</div>
                        <div class="row">
                            <div class="col-md-4">
                                <input asp-for="Stats.Systolic" type="number" class="form-control" placeholder="Systolic" />
                            </div>
                            <div class="col-md-4">
                                <input asp-for="Stats.Diastolic" type="number" class="form-control" placeholder="Diastolic" />
                            </div>

                        </div>
                    </div>

                    <div class="formsection">
                        <div class="buttonheader">Cholesterol</div>
                        <div class="row">
                            <div class="col-md-4">
                                <input asp-for="Stats.LDL" type="number" class="form-control" placeholder="LDL" />
                            </div>
                            <div class="col-md-4">
                                <input asp-for="Stats.HDL" type="number" class="form-control" placeholder="HDL" />
                            </div>
                            <div class="col-md-4">
                                <input asp-for="Stats.VLDL" type="number" class="form-control" placeholder="VLDL" />
                            </div>
                        </div>
                    </div>

                    <div class="formsection">
                        <div class="buttonheader">Measurements (inches)</div>
                        <div class="row">
                            <div class="col-md-3">
                                <input asp-for="Stats.Waist" type="number" class="form-control" placeholder="Waist" />
                            </div>
                            <div class="col-md-3">
                                <input asp-for="Stats.Chest" type="number" class="form-control" placeholder="Chest" />
                            </div>
                            <div class="col-md-3">
                                <input asp-for="Stats.Arms" type="number" class="form-control" placeholder="Arms" />
                            </div>
                            <div class="col-md-3">
                                <input asp-for="Stats.Legs" type="number" class="form-control" placeholder="Legs" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Stats.DateState" class="control-label">When</label>
                        <input asp-for="Stats.DateState" type="datetime-local" class="form-control datestate" />
                        <span asp-validation-for="Stats.DateState" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Social.Notes" class="control-label"></label>
                        <textarea asp-for="Social.Notes" class="form-control"></textarea>
                        <span asp-validation-for="Social.Notes" class="text-danger"></span>
                    </div>


                    <input type="submit" formaction="addstats" formmethod="post" value="Submit" class="btn btn-default" />

                </form>


            </div>

        </div>
    </div>
</div>
<!-- End Modal for Stats-->
<!-- Modal for Item-->

<div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title-h1"></h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="sleep">
                    <div class="buttonheader">How did you Sleep?</div>
                    <div class="entrysection">
                        <div class="buttonheader">Type?</div>
                        <button type="button" class="btn" cat="Sleeping" value="Normal">Normal</button>
                        <button type="button" class="btn" cat="Sleeping" value="Well">Well</button>
                        <button type="button" class="btn" cat="Sleeping" value="Restless">Restless</button>
                        <button type="button" class="btn" cat="Sleeping" value="Interupted">Interupted</button>
                        <button type="button" class="btn" cat="Sleeping" value="Uncomfortable">Uncomfortable</button>
                    </div>
                </div>

                <div class="social">
                    <div class="entrysection">
                        <div class="buttonheader">What?</div>
                        <button type="button" class="btn" value="Birthday Party">Birthday Party</button>
                        <button type="button" class="btn" value="Concert">Concert</button>
                        <button type="button" class="btn" value="Dancing">Dancing</button>
                        <button type="button" class="btn" value="Dinner">Dinner</button>
                        <button type="button" class="btn" value="Drinks">Drinks</button>
                        <button type="button" class="btn" value="Movie">Movie</button>
                        <button type="button" class="btn" value="Museam">Museam</button>
                        <button type="button" class="btn" value="Park">Park</button>
                        <button type="button" class="btn" value="Party">Party</button>
                        <button type="button" class="btn" value="Sporting Event">Sporting Event</button>
                        <button type="button" class="btn" value="Theater">Theater</button>
                        <button type="button" class="btn" value="Wedding">Wedding</button>
                        <button type="button" class="btn" value="Zoo">Zoo</button>

                    </div>
                    <div class="socialwith">
                        <div class="buttonheader">With</div>
                        <button type="button" class="btn" value="Alone">Alone</button>
                        <button type="button" class="btn" value="Date">Date</button>
                        <button type="button" class="btn" value="Friend(s)">Friend(s)</button>
                        <button type="button" class="btn" value="Spouse">Spouse</button>
                        <button type="button" class="btn" value="Family">Family</button>
                        <button type="button" class="btn" value="Coworkers">Coworkers</button>
                        <button type="button" class="btn" value="Extended Family">Extended Family</button>

                    </div>
                    <div class="socialwhere">
                        <div class="buttonheader">Where</div>
                        <button type="button" class="btn" value="Bar">Bar</button>
                        <button type="button" class="btn" value="Club">Club</button>
                        <button type="button" class="btn" value="House">House</button>
                        <button type="button" class="btn" value="Movie">Movie</button>
                        <button type="button" class="btn" value="Restaurant">Restaurant</button>
                        <button type="button" class="btn" value="Stadium">Stadium</button>
                        <button type="button" class="btn" value="Theater">Theater</button>
                        <button type="button" class="btn" value="Work">Work</button>
                    </div>
                </div>

                <div class="food">
                    <div class="entrysection">
                        <div class="buttonheader">Eating? Click button to add portions</div>
                        <button type="button" class="btn" name="Beans" cat="Food" value="0">Beans:0</button>
                        <button type="button" class="btn" name="Bread" cat="Food" value="0">Bread:0</button>
                        <button type="button" class="btn" name="Butter" cat="Food" value="0">Butter:0</button>
                        <button type="button" class="btn" name="Cheese" cat="Food" value="0">Cheese:0</button>
                        <button type="button" class="btn" name="Eggs" cat="Food" value="0">Eggs:0</button>
                        <button type="button" class="btn" name="Fish" cat="Food" value="0">Fish:0</button>
                        <button type="button" class="btn" name="Fruit" cat="Food" value="0">Fruit:0</button>
                        <button type="button" class="btn" name="Meat" cat="Food" value="0">Meat:0</button>
                        <button type="button" class="btn" name="Nuts" cat="Food" value="0">Nuts:0</button>
                        <button type="button" class="btn" name="Oils" cat="Food" value="0">Oils:0</button>
                        <button type="button" class="btn" name="Pasta" cat="Food" value="0">Pasta:0</button>
                        <button type="button" class="btn" name="Potatoes" cat="Food" value="0">Potatoes:0</button>
                        <button type="button" class="btn" name="Rice" cat="Food" value="0">Rice:0</button>
                        <button type="button" class="btn" name="Sweats" cat="Food" value="0">Sweats:0</button>
                        <button type="button" class="btn" name="Vegetable" cat="Food" value="0">Vegetable:0</button>
                        <button type="button" class="btn" name="Yogurt" cat="Food" value="0">Yogurt:0</button>

                        <div class="buttonheader">Drinking? Click button to add portions</div>
                        <button type="button" class="btn" name="Water" cat="Food" value="0">Water:0</button>
                        <button type="button" class="btn" name="Soda" cat="Drink" value="0">Soda:0</button>
                        <button type="button" class="btn" name="DietSoda" cat="Drink" value="0">DietSoda:0</button>
                        <button type="button" class="btn" name="Juice" cat="Drink" value="0">Juice:0</button>
                        <button type="button" class="btn" name="Beer" cat="Drink" value="0">Beer:0</button>
                        <button type="button" class="btn" name="Wine" cat="Drink" value="0">Wine:0</button>
                        <button type="button" class="btn" name="Liquor" cat="Drink" value="0">Liquor:0</button>
                        <button type="button" class="btn" name="Coffee" cat="Drink" value="0">Coffee:0</button>
                    </div>
                </div>
                <div class="poop">
                    <div class="entrysection">
                        <div class="buttonheader">Type?</div>
                        <button type="button" class="btn" cat="Poop" value="Normal">Normal</button>
                        <button type="button" class="btn" cat="Poop" value="Loose">Loose</button>
                        <button type="button" class="btn" cat="Poop" value="Diarrhea">Diarrhea</button>
                        <button type="button" class="btn" cat="Poop" value="Hard/Difficult">Hard/Difficult</button>
                        <button type="button" class="btn" cat="Poop" value="Floats">Floats</button>
                    </div>
                </div>

                <div class="exercise">
                    <div class="entrysection">
                        <div class="buttonheader">Type?</div>
                        <button type="button" class="btn" cat="Exercise" value="Walking">Walking</button>
                        <button type="button" class="btn" cat="Exercise" value="Running">Running</button>
                        <button type="button" class="btn" cat="Exercise" value="Weights">Weights</button>
                        <button type="button" class="btn" cat="Exercise" value="Sports">Sports</button>
                        <button type="button" class="btn" cat="Exercise" value="Other">Other</button>
                    </div>
                    <div class="exerciseintensity">
                        <div class="buttonheader">Intensity?</div>
                        <button type="button" class="btn" value="Low">Low</button>
                        <button type="button" class="btn" value="Medium">Medium</button>
                        <button type="button" class="btn" value="High">High</button>
                        <button type="button" class="btn" value="Max">Max</button>
                    </div>
                </div>
                <div class="entrysection pills">
                    <div class="buttonheader">Pill?</div>
                    <button type="button" class="btn" cat="Medicine" value="Acetamphine">Acetamphine</button>
                    <button type="button" class="btn" cat="Medicine" value="Advil">Advil</button>
                    <button type="button" class="btn" cat="Medicine" value="Clariton">Clariton</button>
                    <button type="button" class="btn" cat="Medicine" value="Pepcide">Pepcid</button>
                    <button type="button" class="btn" cat="Medicine" value="Tylenol">Tylenol</button>
                    <button type="button" class="btn" cat="Medicine" value="Tums">Tums</button>
                    <button type="button" class="btn" cat="Medicine" value="Zyrtec">Zyrtec</button>
                </div>



                <div class="create">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Item.Type" class="control-label"></label>
                            <input asp-for="Item.Type" class="form-control type" />
                            <span asp-validation-for="Item.Type" class="text-danger"></span>
                        </div>

                        <div class="exerciseduration exercise work sleep">
                            <div class="buttonheader">Duration? In Minutes</div>
                            <input asp-for="Item.Duration" class="dur" />
                            <button type="button" class="btn" value="15">Add 15 minutes</button>
                        </div>
                        <div class="form-group exercise">
                            <label asp-for="Item.Intensity" class="control-label"></label>
                            <input asp-for="Item.Intensity" class="form-control intensity" />
                            <span asp-validation-for="Item.Intensity" class="text-danger"></span>
                        </div>
                        <div class="form-group pills">
                            <label asp-for="Item.Dose" class="control-label"></label>
                            <input asp-for="Item.Dose" class="form-control" />
                            <span asp-validation-for="Item.Dose" class="text-danger"></span>
                        </div>
                        <div class="common">
                            <div class="form-group">
                                <label asp-for="Item.DateState" class="control-label"></label>
                                <input asp-for="Item.DateState" class="form-control datestate" />
                                <span asp-validation-for="Item.DateState" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Item.Notes" class="control-label"></label>
                                <input asp-for="Item.Notes" class="form-control" />
                                <span asp-validation-for="Item.Notes" class="text-danger"></span>
                            </div>
                        </div>



                        <div class="form-group">
                            <label asp-for="Item.Cat" class="control-label"></label>
                            <input asp-for="Item.Cat" class="form-control cat" />
                            <span asp-validation-for="Item.Cat" class="text-danger"></span>
                        </div>



                        <div class="hidden">

                            <div class="form-group">
                                <label asp-for="Item.Location" class="control-label"></label>
                                <input asp-for="Item.Location" class="form-control" />
                                <span asp-validation-for="Item.Location" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Item.With" class="control-label"></label>
                                <input asp-for="Item.With" class="form-control" />
                                <span asp-validation-for="Item.With" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Item.Where" class="control-label"></label>
                                <input asp-for="Item.Where" class="form-control" />
                                <span asp-validation-for="Item.Where" class="text-danger"></span>
                            </div>


                            <input asp-for="Item.Beans" class="form-control" id="Beans" value="0" />
                            <input asp-for="Item.Bread" class="form-control" id="Bread" value="0" />
                            <input asp-for="Item.Butter" class="form-control" id="Butter" value="0" />
                            <input asp-for="Item.Cheese" class="form-control" id="Cheese" value="0" />
                            <input asp-for="Item.Eggs" class="form-control" id="Eggs" value="0" />
                            <input asp-for="Item.Fish" class="form-control" id="Fish" value="0" />
                            <input asp-for="Item.Fruit" class="form-control" id="Fruit" value="0" />
                            <input asp-for="Item.Meat" class="form-control" id="Meat" value="0" />
                            <input asp-for="Item.Nuts" class="form-control" id="Nuts" value="0" />
                            <input asp-for="Item.Oils" class="form-control" id="Oils" value="0" />
                            <input asp-for="Item.Pasta" class="form-control" id="Pasta" value="0" />
                            <input asp-for="Item.Potatoes" class="form-control" id="Potatoes" value="0" />
                            <input asp-for="Item.Rice" class="form-control" id="Rice" value="0" />
                            <input asp-for="Item.Sweats" class="form-control" id="Sweats" value="0" />
                            <input asp-for="Item.Vegetable" class="form-control" id="Vegetable" value="0" />
                            <input asp-for="Item.Yogurt" class="form-control" id="Yogurt" value="0" />
                            <input asp-for="Item.Water" class="form-control" id="Water" value="0" />
                            <input asp-for="Item.Soda" class="form-control" id="Soda" value="0" />
                            <input asp-for="Item.DietSoda" class="form-control" id="DietSoda" value="0" />
                            <input asp-for="Item.Juice" class="form-control" id="Juice" value="0" />
                            <input asp-for="Item.Beer" class="form-control" id="Beer" value="0" />
                            <input asp-for="Item.Wine" class="form-control" id="Wine" value="0" />
                            <input asp-for="Item.Liquor" class="form-control" id="Liquor" value="0" />
                            <input asp-for="Item.Coffee" class="form-control" id="Coffee" value="0" />
                        </div>
                        <div class="form-group">
                            <input type="submit" formaction="additem" formmethod="post" value="Submit" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>

            </div>
    </div>
</div>
<!-- End Modal for Item-->
